.brand {
  width: 188px;
  height: 38px;
  margin-left: 8px;
  margin-top: 5px;
}
header {
  position: absolute;
  width: 1520px;
  height: 50px;
  margin-left: -5px;
  margin-top: 0px;
}

aside {
  border-radius: 44px;
  margin-top: 130px;
  position: relative;
  max-height: 600px;
  margin-left: 3px;
  margin-bottom: 200px;
}
